<!doctype html>
<html {{ function('language_attributes') }}>

    {% include 'templates/head.twig' %}

    <body {{ function('body_class') }}>

        {% include 'templates/header.twig' %}

        <div class="wrap container" role="document">
            <div class="content {% if display_sidebar %}row{% endif %}">
                <main class="{% if display_sidebar %}col-md-8{% endif %}">
                    {% block content %}{% endblock %}
                </main>
                {% if display_sidebar %}
                <aside class="sidebar col-md-4">
                    {% block sidebar %}
                        {% include 'templates/sidebar.twig' %}
                    {% endblock %}
                </aside>
                {% endif %}
            </div>
        </div>

        {% include 'templates/footer.twig' %}

    </body>

</html>
