{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}

        <div class="page-header">
            <h1>{{ post.title }}</h1>
        </div>

        {{ post.content }}

    {% endfor %}

{% endblock %}